@import "tailwindcss";
@import '@fontsource-variable/assistant';
@import '@fontsource-variable/merriweather-sans';
@import '@fontsource-variable/kumbh-sans';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Inter", sans-serif;
  --font-geist-mono: "Fira Code", monospace;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0F4662;
  --color-secondary: #176F9C;
  --color-accent: #E05426;
  --shadow-3xl: 15px 25px 35px 0px rgba(0, 0, 0, 0.15);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  h1 {
    color: #212121;
    font-size: 55px;
    font-weight: 500;
    line-height: 1.2em;
  }
  h2 {
    font-size: 55px;
    font-weight: 500;
    line-height: 1.2em;
  }
  h3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 2rem;
  }
  h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 2rem;
  }
  h5 {
    color: #212121;
    font-size: 19px;
    font-weight: 200;
    line-height: 2rem;
  }
  h6 {
    font-size: 17px;
    font-weight: 200;
    line-height: 2rem;
  }

  background: var(--background);
  color: var(--foreground);
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*font-family: 'Kumbh Sans Variable', sans-serif;*/
  font-family: 'Merriweather Sans Variable', sans-serif;
  /*font-family: 'Assistant Variable', sans-serif;*/
  scroll-behavior: inherit;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#total {
  animation: counter 5s forwards ease-out;
  counter-reset: num var(--num);
  font: 800 55px 'Merriweather Sans Variable', sans-serif;
}

#total::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 26 ;
  }
}
